{{ form_start(form) }}
<div class="form-line">
    <div class="group-block">
        <label for="rapid_post_channel_name">Nom</label>
        <div class="input-box">
            <div class="input-logo"><svg class="plume"><use xlink:href="#plume"></use></svg></div>
            {{ form_widget(form.name) }}
        </div>
        <div class="error-box xs-mb-5">{{ form_errors(form.name) }}</div>
    </div>
</div>
<div class="form-line">
    <div class="group-block">
        <label for="rapid_post_channel_description">Description</label>
        <div class="input-box">
            <div class="input-logo"><svg class="plume"><use xlink:href="#plume"></use></svg></div>
            {{ form_widget(form.description) }}
        </div>
        <div class="error-box">{{ form_errors(form.description) }}</div>
    </div>
</div>
<div class="form-line">
    <div class="group-block">
        <label for="rapid_post_channel_logo">Logo</label>
        <div class="input-box">
            <div class="input-logo"><svg class="image"><use xlink:href="#image"></use></svg></div>
            {{ form_widget(form.logo) }}
        </div>
        <div class="error-box xs-mb-5">{{ form_errors(form.logo) }}</div>
    </div>
</div>
<div class="form-line">
    <div class="button-block">
        <button class="submit" type="submit">Créer la thématique</button>
    </div>
</div>
{{ form_end(form) }}
