{{ form_start(form) }}
<div class="form-line">
    <div class="group-block">
        <label for="offer_title">Titre</label>
        <div class="input-box">
            <div class="input-logo"><svg class="plume"><use xlink:href="#plume"></use></svg></div>
            {{ form_widget(form.title) }}
        </div>
        <div class="error-box">{{ form_errors(form.title) }}</div>
    </div>
</div>
<div class="form-line">
    <div class="group-block">
        <label for="offer_type">Type d'offre</label>
        <div class="input-box">
            <div class="input-logo"><svg class="list"><use xlink:href="#list"></use></svg></div>
            {{ form_widget(form.type) }}
        </div>
        <div class="error-box">{{ form_errors(form.type) }}</div>
    </div>
    <div class="group-block">
        <label for="offer_price">Prix maximal</label>
        <div class="input-box">
            <div class="input-logo"><svg class="euro"><use xlink:href="#euro"></use></svg></div>
            {{ form_widget(form.price) }}
        </div>
        <div class="error-box">{{ form_errors(form.price) }}</div>
    </div>
    <div class="group-block">
        <div class="button-block">
            <button onclick="submit()" class="submit" type="submit">Rechercher</button>
        </div>
    </div>
</div>
{{ form_end(form) }}
