<div class="responses-list">
    {% for response in offer.offerComments %}
    <div class="response">
        <div class="author">
            <a href="{{ path('user_profile', {'id': response.author.id}) }}" class="user-box">
                <div class="user-avatar">
                    {% if response.author.avatar == true %}
                    <img src="{{ asset('/uploads/avatars/' ~ response.author.avatar) }}"/>
                    {% else %}
                    <svg class="user"><use xlink:href="#user"></use></svg>
                    {% endif %}
                </div>
                <span class="user-name">{{ response.author.firstname ~ ' ' ~ response.author.lastname }}</span>
            </a>
        </div>
        <div class="content">
            <div class="text">
                <div class="title">
                    {{ response.title|striptags }}
                </div>
                <div class="main-text custom-text-content ">
                    {{ response.content|raw }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if offer.offerComments|length == 0 %}
    <div class="alert alert-error">
        Aucun commentaire ne semble avoir été posté.
    </div>
    {% endif %}
</div>