{% extends 'aside-right.html.twig' %}
{% block title %}Offres de {{ user.firstname }} {{ user.lastname }} {{global_name}}{% endblock %}

{% block headerblock %}
    {% include "user/user_headerBox.html.twig" %}
{% endblock %}


{% block content %} 
<div class="col-xs-12">
    <div class="xs-py-15 xs-px-15">
        <h1 class="bloc-title">Offres de {{ user.firstname }}</h1>
        {% include "user/profil_offers_list.html.twig" %}
        {{ knp_pagination_render(offers) }}
    </div>
</div>
{% endblock %}


{% block aside %}
<div class=" xs-py-10 xs-px-10">
    <a href="{{ path('user_profile', {'id': user.id }) }}" class="button orange">
        <svg class="loupe"><use xlink:href="#loupe"></use></svg>
        <span>Voir le profil</span>
    </a>
</div>
    <div class=" xs-py-10 xs-px-10">
        <a href="{{ url('market_new_offer') }}" class="button orange">
            <svg class="plume"><use xlink:href="#plume"></use></svg>
            <span>Nouvelle offre</span>
        </a>
    </div>
{% if app.user.id == user.id %}
    <div class=" xs-py-10 xs-px-10">
        <a href="{{ url('market_user_management') }}" class="button orange">
            <svg class="loupe"><use xlink:href="#loupe"></use></svg>
            <span>Mes offres</span>
        </a>
    </div>
{% endif %}
{% endblock %}

