<div class="blog-feed profil">
    {% for post in user.blogPosts %}
    <div class="blog-item">
        <div class="content-box">
            <div class="picture-box">
                {% if post.picture == true %}
                        {% set picture = asset('/uploads/blog/' ~ post.picture) %}
                    {% else %}
                        {% set picture = asset('/uploads/blog/default.jpg') %}
                    {% endif %}
                    <img src="{{ picture }}" title="{{ post.title }}" />
            </div>
            <div class="main-content">
                <div class="text-content">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content|u.truncate(220, '...')|striptags }}</p>
                </div>
                <div class="more-content">
                    <div class="stats">
                        <div class="comments"><svg class="comment">
                                <use xlink:href="#comment"></use></svg><span>{{ post.blogPostComments|length }}</span>
                        </div>
                        <div class="likes"><svg class="like">
                                <use xlink:href="#like"></use></svg><span>{{ post.likes|length }}</span>
                        </div>
                    </div>
                    <a href="{{ path('blog_post_show', {'id': post.id }) }}" class="button orange"><span>Lire la suite</span></a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if user.blogPosts|length == 0 %}
    <div class="alert alert-error">
        Aucun article de blog ne semble exister pour cet utilisateur.
    </div>
    {% endif %}
</div>