{% extends 'aside-right.html.twig' %}
{% block title %}Profil de {{ user.firstname }} {{ user.lastname }} {{global_name}}{% endblock %}

{% block headerblock %}
    {% include "user/user_headerBox.html.twig" %}
{% endblock %}

{% block content %}
    <div class="bg-bgWhite max-size">
        <div class="tabs-container">
            <div class="tabs-menu">
                <div data-tab="rapidposts" class="tab col-xs-4 active">
                    <svg class="rapidpost">
                        <use xlink:href="#rapidpost"></use>
                    </svg>
                    <span>Messages thématiques</span>
                </div>
                <div data-tab="blogposts" class="tab col-xs-4 ">
                    <svg class="blogpost">
                        <use xlink:href="#blogpost"></use>
                    </svg>
                    <span>Articles de blog</span>
                </div>
                <div data-tab="offers" class="tab col-xs-4 ">
                    <svg class="market">
                        <use xlink:href="#market"></use>
                    </svg>
                    <span>Place du marché</span>
                </div>
            </div>
            <div class="tabs-content">
                <div data-tab-content="rapidposts" class="tab-content active">
                    {% include "user/profil_rapidposts_list.html.twig" %}
                </div>
                <div data-tab-content="blogposts" class="tab-content">
                    {% include "user/profil_blogposts_list.html.twig" %}
                </div>
                <div data-tab-content="offers" class="tab-content">
                   
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block aside %}
{% if app.user.id != user.id %}
    <div class="bg-bgWhite max-size">
        <div class=" xs-py-10 xs-px-10">
            <a href="mailto:{{ user.email }}" class="button orange">
                <svg class="enveloppe"><use xlink:href="#enveloppe"></use></svg>
                <span>Contacter {{ user.firstname }}</span>
            </a>
        </div>
        {% endif %}
        {% if app.user.id == user.id %}
        <div class=" xs-py-10 xs-px-10">
            <a href="{{ url('user_edit') }}" class="button orange">
                <svg class="plume"><use xlink:href="#plume"></use></svg>
                <span>Éditer mon profil</span>
            </a>
        </div>
        {% endif %}
    </div>

{% endblock %}