<div class="users-list">
    {% for user in users %}
    <div class="user-item col-xs-12">
        <a href="{{ path('user_profile', {'id': user.id}) }}" class="identity">
            <div class="avatar">
                {% if user.avatar == true %}
                    <img src="{{ asset('/uploads/avatars/' ~ user.avatar) }}"/>
                {% else %}
                    <svg class="user"><use xlink:href="#user"></use></svg>
                {% endif %}
            </div>
            <span class="name">{{ user.firstName ~ ' ' ~ user.lastName }}</span>
        </a>
        <div class="school">
            <span class="faculty">{{ user.university }}</span>
            <span class="formation">{{ user.formation }}</span>
        </div>
        <div class="stats">
            <a href="{{ path('posts_user', {'id': user.id}) }}" class="rapidposts">
                <svg class="rapidpost"><use xlink:href="#rapidpost"></use></svg>
                <span>{{ user.rapidPosts|length }}</span>
            </a>
            <a href="{{ path('blog_posts_user', {'id': user.id}) }}" class="blogposts">
                <svg class="blogpost"><use xlink:href="#blogpost"></use></svg>
                <span>{{ user.blogPosts|length }}</span>
            </a>
            <a href="{{ path('market_offers_user', {'id': user.id}) }}" class="offers">
                <svg class="market"><use xlink:href="#market"></use></svg>
                <span>{{ user.offers|length }}</span>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% if users|length == 0 %}
<div class="alert alert-error">
    Aucun utilisateur ne correspond à votre recherche.
</div>
{% endif %}