{% extends 'aside-right.html.twig' %}
{% block title %}Gestion des articles de {{ association.name }} {{global_name}}{% endblock %}

{% block headerblock %}
    {% include "association/association_headerBox.html.twig" %}
{% endblock %}


{% block content %} 
<div class="col-xs-12">
    <div class="xs-py-15 xs-px-15">
        <h1 class="bloc-title">Publications de l'association</h1>
        {% include "blog/blogPosts_manageList.html.twig" %}
        {{ knp_pagination_render(blogPosts) }}
    </div>
</div>
{% endblock %}


{% block aside %}
<div class=" xs-py-10 xs-px-10">
    <a href="{{ path('association_show', {'id': association.id }) }}" class="button orange">
        <svg class="back"><use xlink:href="#back"></use></svg>
        <span>Retour à l'asso</span>
    </a>
</div>
<div class=" xs-py-10 xs-px-10">
    <a href="{{ path('association_new_post', {'id': association.id }) }}" class="button orange">
        <svg class="plume"><use xlink:href="#plume"></use></svg>
        <span>Nouvel article</span>
    </a>
</div>
{% endblock %}

