<section class="bloc-asso xs-px-10 xs-py-10">
    <h1 class="bloc-title">Direct'assos</h1>
    <div class="assos-feed">
    {% for post in associationsPosts %}
        <div class="asso-item col-xs-12 col-md-6">
            <a href="{{ path('blog_post_show', {'id': post.id}) }}" class="content">
                <div class="text">
                    <h3>{{ post.title|striptags|u.truncate(50, '...') }}</h3>
                    <p>{{ post.content|striptags|u.truncate(60, '...') }}</p>
                </div>
                <img src="{{ asset('uploads/blog/' ~ post.picture) }}" class="" title=""/>
            </a>
        </div>
    {% endfor %}
    </div>
    {% if associationsPosts|length == 0 %}
        <div class="alert alert-error">
            Aucun article associatif ne semble avoir été posté.
        </div>
    {% else %}
        <div class="bloc-more">
            <a href="{{ url('associations_index') }}" class="button orange"><span>Voir plus d'actualités associatives</span></a>
        </div>
    {% endif %}
</section>