{% extends 'aside-right.html.twig' %}
{% block title %}{{ blogPost.title|striptags }} {{global_name}}{% endblock %}

{% block headerblock %}
    {% include "user/user_headerBox.html.twig" %}
{% endblock %}


{% block content %} 
<div class="col-xs-12">
    <div class="xs-py-15 xs-px-15">
        {% include "blog/blogPost_full.html.twig" %}
        {% if blogPost.blogPostComments|length > 0 %}
            <h2 class="bloc-title">Commentaires</h2>
            {% include "blog/blogPost_responses_list.html.twig" %}
        {% endif %}
        <h2 class="bloc-title xs-mt-20">Réagir à cet article</h2>
        {% include "blog/_form_reponse.html.twig" %}
    </div>
</div>
{% endblock %}


{% block aside %}
<div class=" xs-py-10 xs-px-10">
    <a href="{{ url('blog_index') }}" class="button orange">
        <svg class="back"><use xlink:href="#back"></use></svg>
        <span>Retour</span>
    </a>
</div>
<div class=" xs-py-10 xs-px-10">
    <a href="{{ path('blog_posts_user', {'id': blogPost.author.id }) }}" class="button orange">
        <svg class="loupe"><use xlink:href="#loupe"></use></svg>
        <span>Blog de {{ blogPost.author.firstname }}</span>
    </a>
</div>
{% endblock %}

