{{ form_start(form) }}
{{ form_errors(form) }}
<div class="form-line">
    <div class="group-block">
        <label for="">Votre recherche</label>
        <div class="input-box">
            <div class="input-logo"><svg class="plume"><use xlink:href="#plume"></use></svg></div>
            {{ form_widget(form.searchtext) }}
        </div>
        <div class="error-box">{{ form_errors(form.searchtext) }}</div>
    </div>
</div>
<div class="form-line">
    <div class="group-block">
        <label for="">Type de contenu</label>
        <div class="input-box">
            <div class="input-logo"><svg class="list"><use xlink:href="#list"></use></svg></div>
            {{ form_widget(form.contenttype) }}
        </div>
        <div class="error-box">{{ form_errors(form.contenttype) }}</div>
    </div>
</div>

<div class="form-line">
    <div class="button-block">
        <button onclick="submit()" class="submit" type="submit">Rechercher</button>
    </div>
</div>
{{ form_end(form) }}
