    <header class="main-header">
        <div class="main-bar">
            <div class="left-content">
                <div id="burger-button" class="burger-button">
                    <svg class="burger-menu"><use xlink:href="#burger-menu"></use></svg>
                </div>
                <div class="logo-container">
                    <a href="{{ url('home') }}">
                        <svg class="esu-logo"><use xlink:href="#esu-logo-dark"></use></svg>
                    </a>
                </div>
            </div>
            <div class="center-content">
                <div class="search-box">
                    <label class="input-group">
                        <form action="" method="POST">
                            <input type="text" name="" id="">
                            <button type="submit" name="" id=""><svg class="search"><use xlink:href="#loupe"></use></svg></button>
                        </form>
                    </label>
                    <div class="result-group hidden">
                    
                    </div>
                </div>
            </div>
            <div class="right-content">
                <div class="user-box">
                    <a href="#">
                        <div class="user-avatar">
                            {% if app.user.avatar == true %}
                                <img src="{{ asset('/uploads/avatars/' ~ app.user.avatar) }}"/>
                            {% else %}
                                <svg class="user"><use xlink:href="#user"></use></svg>
                            {% endif %}
                        </div>
                        <div class="user-name">
                            <span>{{ app.user.firstname }}</span>
                        </div>
                    </a>
                    <div class="user-menu">
                        <a href="{{ path('user_profile', {'id': app.user.id }) }}" class="item"><span>Mon profil</span></a>
                        <a href="{{ url('app_logout') }}" class="item"><span>Déconnexion</span></a>
                    </div>
                </div>
                <div class="help-zone">
                    <a href="#">
                        <svg class="help"><use xlink:href="#help"></use></svg>
                    </a>
                </div>
            </div>
        </div>
        <nav id="nav-menu" class="nav-menu">
            <div class="menu-item">
                <div class="search-box">
                    <label class="input-group">
                        <form action="" method="POST">
                            <input type="text" name="" id="">
                            <button type="submit" name="" id=""><svg class="search"><use xlink:href="#loupe"></use></svg></button>
                        </form>
                    </label>
                </div>
            </div>
            {% include 'nav/nav-menu.html.twig' %}
        </nav>
    </header>
    <main>