{% extends 'base.html.twig' %}

{% block title %}RapidPost{% endblock %}

{% block body %}
    <h1>RapidPost</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rapid_post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ rapid_post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ rapid_post.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ rapid_post.createdAt ? rapid_post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('posts_index') }}">back to list</a>

    <a href="{{ path('postt_edit', {'id': rapid_post.id}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
